{
  "extends": ["eslint:recommended"],
  "rules": {
    "semi": "off",
    "quotes": "off",
    "indent": "off",
    "comma-dangle": "off",

    "no-unused-vars": "warn",
    "no-undef": "error",
    "eqeqeq": "warn"
  }
}